/* You can add global styles to this file, and also import other style files */
*{
    left: 0px;
    top: 0px;
    padding: 0px;
}
body {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0px;
    background-color: #000;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}